
h1 { 
   font-size: xx-large;
   text-align: center;
   text-wrap: ;
    color: rgb(255, 255, 255);
    border-color: #e60122;
   }
   h2{
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: monospace;
   }

  

body{
  background-color: #000000;
 }
 div {
    background-image: url(img/fondo1.jpg);
    margin: 4%;
    justify-content: center;
    align-items: center;
 }
  p{ font-size: xx-large;
color: rgb(255, 255, 255);}
.galeria{
   display: flex;
   flex-flow: wrap;
   justify-content: left;
}
.galeria{
   display: flex;
   flex-flow: wrap;
   justify-content: center;
}

.galeria img {
   max-width: 400px;
   padding: 1rem ;


}

a{ color: rgb(255, 255, 255);}

p{color: rgb(255, 255, 255);}
  

.LOGO{
   display: flex;
   flex-wrap: ;
   justify-content: right;
   max-width: 2rem;
   max-width: 200px;
}

.galeria{color: rgb(255, 255, 255);
font-size: larger;
border: 1px;}

.footer
{color: rgb(255, 255, 255);
font-size: larger;
border: 1px;}

.novedades
{display: flex;
flex-wrap: ;
justify-content: space-between;}



header{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 0 20px;
    background: linear-gradient(
        to bottom
        #ffffff,
        #ffffff
    );
    color: aliceblue;
         border-bottom: 3px solid #e60122;
        }
        header nav a{
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 5px 10px;
            transition: 5s;
            border-radius: 10px;
        }

        header .menu a{
            text-decoration: none;
            color: #fff;
            front- }

         .grid-container      
         {
            display: inline;: 
         }
          .container
          {display: inline;}
           
@media { max-width: 800px;
   flex-direction: column;
}