.boton{
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border:  1px solid black;
}

@for

.body
{color: #000000;}


.li
{color text-decoration-color: #FFFFFF;}

.title1{ text-align: center;}